<!DOCTYPE html>
<html>
<head>
    <title>WhatsApp Instructions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>How to add stickers to WhatsApp</h1>
    <p>Unfortunately, WhatsApp does not provide a simple way to add sticker packs from a website. You will need to use a third-party app to add these stickers to WhatsApp.</p>
    <p>Here are some apps you can use:</p>
    <ul>
        <li>Sticker Maker for WhatsApp</li>
        <li>Sticker.ly</li>
    </ul>
    <p>Once you have installed one of these apps, you can follow their instructions to create a new sticker pack and add the stickers from this website.</p>
</body>
</html>
